/* CSS Document Über mich */
/* Grundlegende Reset-Styles */
html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Borisna', sans-serif;
  cursor: none;
}
  /* Farben */
  :root {
    --pink: #ff5d8f;
  }
  
  /* Body Styles */
  body {
    background-color: #000;
    color: #fff;
  }
  
  /* BodyBG*/
  body {
    background-color: #000;
  }
  
  body.fill header .links a {
    color: #000;
  }
  body.fill header .title {
    color: #000;
  }

.points .flex h2 p,
.points .flex .num p {
  font-family: 'LaoMN';
  font-weight: 100;
}
.points .flex .num {
  width: 90px;
}
.points .flex .num.stick {
  position: fixed;
  top: 110px;
}
.points .flex p {
  font-size: 25px;
  padding-left: 10px;
  font-family: 'LaoMN';
  margin-top: 2%;
}
@media (min-width : 320px) 
and (max-width : 480px) {
  .points .flex p {
    font-size: 15px;
    padding-left: 10px;
    font-family: 'LaoMN';
    margin-top: 5%;
  }
  
  /* Header Stuff mit Slideranimation und nav */
  header {
    padding: 20px 0;
    z-index: 5;
    width: 100%;
    position: fixed !important;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.3s ease;
    background-color: #000;
  }
  header.start .title,
  header.start .links {
    transform: translateY(0);
  }
  header.nottransparent {
    background-color: #000 !important;
    transition: background-color 0.3s ease;
  }
  
  
  header .container {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  
  header .title{
    width: 50%;
    position: relative;
    overflow: hidden;
    text-align: left;
    z-index: 9999;
    height: 60px;
  }
  
  header .title span {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeText 12s infinite; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 36px; 
  }
  
  header .title span:nth-child(1) {
    animation-delay: 0s;
  }
  
  header .title span:nth-child(2) {
    animation-delay: 6s; 
  }
  
  header .title span a {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
  }
  
  /* Animation für das Ein- und Ausblenden */
  @keyframes fadeText {
    0%, 50%, 100% {
      opacity: 0; 
      transform: translateY(50px); 
    }
    20%, 45% {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  
  
  header .links {
    width: 50%;
    position: relative;
    overflow: hidden;
    text-align: right;
    z-index: 9999;
    height: 60px; 
  }
  
  
  @media (max-width: 767px) {
    header .links {
      display: flex;
    }
  }
  header .title,
  header .links a {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    line-height: 1.6;
  }
  @media (max-width: 767px) {
    header .title,
    header .links a {
      font-size: 22px;
    }
  }
  
  header .links a {
    margin: 0 15px;
  }
  
  header .links a:hover {
    color: var(--pink);
  }
  
  header .links a.active {
      color: var(--pink); 
      font-weight: bold; 
      border-bottom: 2px solid var(--pink); 
  }
  
  @media (max-width: 767px) {
    header .links a {
      margin: 0 8px;
    }
  }
  
  #home_page {
    background-color: #000;
    transition: 0.3s ease;
    overflow: hidden;
  }
  
  /* Überschriftenbereich */
  .headline-section {
    margin-top: 100px; 
    padding: 250px 0;
    z-index: 0;
    background-image: url("../Medien/Bilder/Pikachu_Animationm.GIF");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .headline-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .big-headline {
   color: white;
      font-size: 5em;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      z-index: 1;
      text-align: center;
  }
  
  .subheadline {
    font-size: 1.5em;
    color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 767px) {
    .big-headline {
      font-size: 2.5em;
    }
  
    .subheadline {
      font-size: 1.2em;
    }
  }
  
  /* Zurück-Button */
  .container_button {
      margin-top: 120px;
      display: flex;
      margin-left: 5%; 
  }
  
  
  .back-button a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      color: #fff;
      background-color: var(--pink); 
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
  
  .back-button a:hover {
      background-color: #ff4d7b; 
  }
  
  /* Seitencontent */
  
  
  .contentcontainer {
    width: 95%;
    max-width: 1500px;
    margin: 10px auto 50px auto;
    padding: 50px 20px;
  }
  
  .points {
    z-index: 2;
    position: relative;
    background: #000;
    color: #fff;
    overflow: hidden;
  }
  
  .points .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  @media (max-width: 767px) {
    .points .flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .points .flex .num {
    padding-left: 15px;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../Medien/Bilder/Pikachu_Animationm.GIF");
    background-size: cover;
  }
  
  .points .flex > div[data-scrollmagic-pin-spacer] {
    padding-left: 0;
    padding-bottom: 0 !important;
  }
  
  .points .flex h2,
  .points .flex .num {
    font-size: 60px;
    font-family: 'Borisna';
    margin-top: 0;
    margin-bottom: 25px;
    display: inline-block;
  }
  
  .points .flex h2 p,
  .points .flex .num p {
    font-family: 'LaoMN';
    font-weight: 100;
  }
  
  .points .flex .num {
    width: 90px;
  }
  
  .points .flex .num.stick {
    position: fixed;
    top: 110px;
  }
  
  .points .flex p {
    font-size: 25px;
    padding-left: 10px;
      font-family: 'LaoMN';
  }
  
  
  .points .flex > div {
    padding: 0 15px;
    margin-top: 0 !important;
  }
  
  
  .points .first_point .flex {
    width: 100%;
  }
  
  .points .first_point .flex.six-four > div:nth-child(1) {
    width: 100%;
  }
  
  
  .points .first_point .flex.six-four > div:nth-child(1) > div:nth-child(2) {
    width: calc(100% - 90px);
  }
  
  .points .first_point .flex.six-four > div:nth-child(2) {
    width: 100%;
  }
  
  .points .first_point.point_two {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  
  .points .first_point.point_two .flex .flex {
    width: 100%;
  }
  
  .points .first_point.point_two .flex .flex > div:nth-child(1) {
    width: 90px;
  }
  
  .points .first_point.point_two .flex .flex > div:nth-child(2) {
    width: calc(100% - 90px);
  }
  
  .points .first_point .align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .points .first_point .align-center p {
    width: 55%;
  }
  
  .points .first_point.only_point {
    padding: 0px 0 0px 0;
  }
  
  .points .first_point.only_point p {
    padding-left: 0 !important;
  }
  
  .points .first_point.only_point .flex .flex > div {
    padding-left: 8px;
  }
  
  
  .slick-slider {
    z-index: -1;
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .first_slider {
      margin-top: 50px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none;  /* Versteckt Scrollbalken in IE und Edge */
    scrollbar-width: none;  /* Versteckt Scrollbalken in Firefox */
  }
  
  .first_slider::-webkit-scrollbar {
    display: none;  /* Versteckt Scrollbalken in Chrome, Safari und Opera */
  }
  
  .first_slider div {
    flex: 0 0 auto;
    width: 300px; 
    margin-right: 20px; 
  }
  
  .first_slider img {
    width: 100%;
    height: auto;
    display: block;
  }